@model PPPK_Project.Models.TravelWarrant
@{
    ViewBag.Title = "TravelWarrant";
}


<h2>Edit Travel Warrant</h2>

<p>TO DO</p>

<div>
    @Html.ActionLink("Back to Travel Warrants", "AllTravelWarrants")
</div>
